#Progress-Bar
.progress-container {
  width: 100%;
  background-color: #eee;
  height: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  border-radius: 10px;
  transition: width 0.4s ease;
}
